html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
    flex-direction: column;
	background-color: transparent;
	padding: 0px 5px;
}

.cpureg-active {
	font-family: var(--vscode-editor-font-family);
    white-space: nowrap;
}

.cpu, .registers, .hatari {
	margin-bottom: 10px;
}

.modified-byte {
	color: red;
}

.highlight-on-hover:hover {
	background-color: var(--vscode-editor-hoverHighlightBackground);
	border: solid 1px var(--vscode-foreground);
	cursor: pointer;
}